.nav-toggle {
  display: none;
  /* width: 0; */
}

@media (max-width: 700px) {
  
  .nav-toggle {
    display: block;
    margin-right: 40vw;
    background-color: #fec91d;
    border-radius: 5px;
    padding: 5px;
    margin-left: 12px;
    border: 1px solid black;
    /* width: 100%; */
  }
}