.about-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid black;
}

.about-section-image {
  width: 100%;
  border: 1px solid purple;
}