about {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: 'Brandon Bold';
  line-height: 1.25;
}

.about-image, .about-box {
  width: 50%;
  height: 60vh;
} 

.about-box {
  font-size: 36px;
  padding: 80px;
  background-color: #fec91d;
}

.about-box p {
  margin-top: 15%;
}