visit {
  display: flex;
  justify-content: center;
  max-height: 500px;
  width: 100%;
}

.visit-image,
.visit-box {
  width: 50%;
}

.visit-box {
  font-size: calc(13px + (24 - 13) * ((100vw - 300px) / (1440 - 300)));
  background-color: #fec91d;
  display: flex;
  justify-content: center;
  align-content: center;
}

.visit-box p {
  margin: auto 12%;
}

.visit-image img {
  object-fit: cover;
}

/* .visit-container {
  max-height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
} */

@media only screen and (max-width: 550px) {
  .visit-container {
    max-height: none;
    flex-wrap: wrap;
  }

  .visit-image {
    height: 382px;
    width: 100%;
  }

  .visit-box {
    height: 382px;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
  }

}

@media only screen and (max-width: 380px) {

  .visit-box {
    padding: 30px;
  }
}