visit {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80%; */
}

.visit-image, .visit-box {
  max-width: 50%;
} 

.visit-box {
  font-size: 20px;
  padding: 55px 40px;
  background-color: #fec91d;
}