visit {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.visit-image, .visit-box {
  width: 50%;
  height: 60vh;
} 

.visit-box {
  font-size: 24px;
  padding: 40px;
  background-color: #fec91d;
}